
/*************SecondDiv*****************/
.vc_single_image-img{
    height: auto;
    max-width: 100%;
    vertical-align: top;
}
.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
    width: 100%;
}
.secondDivRow h3{
    font-family: 'BebasNeue-Regular', sans-serif;
    color: #333333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}