
/*************SecondDiv*****************/
.vc_single_image-img{
    height: auto;
    max-width: 100%;
    vertical-align: top;
}
.secondDivRow h3{
    font-family: 'BebasNeue-Regular', sans-serif;
    color: #333333;
    text-align: center;
}